html {
    scrollbar-gutter: stable;
}

/* =========================================================
   BRAND
========================================================= */

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* =========================================================
   APP BAR
========================================================= */

.mud-appbar {
    border-bottom: 1px solid var(--mud-palette-lines-default);
}

/* =========================================================
   MUD OVERRIDES
========================================================= */

.mud-drop-item-preview-start {
    height: 1px !important;
}

.mud-tooltip {
    background: rgba(22, 27, 38, 0.72) !important;

    border: 1px solid rgba(255, 255, 255, .05);
    border-radius: 6px;

    backdrop-filter: blur(14px);

    box-shadow: 0 4px 18px rgba(0, 0, 0, .18);
}

#mud-snackbar-container {
    z-index: 99999 !important;
}
